@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* sidebar-styles */
.sideBar {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  width: fit-content;
  /* border-right: 1px solid black; */
}

#my-notes {
  margin-top: 20px;
  text-decoration: none;
  background-color: burlywood;
  padding: 5px;
  width: 7vw;
  color: black;
}

#add {
  margin-top: 10px;
  background-color: white;
  color: rgb(71, 71, 71);
  border: 0;
}

/* side-bar 2 */
/* .sideBar2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 7vw;
  border-right: 1px solid black;
} */

/* .sideBar2 button {
  text-decoration: none;
  margin-top: 5vh;
} */

.add-note {
  background-color: white;
  border: 0;
}
/* navbar-styles */
.navBar {
  width: 90vw;
  /* border-bottom: 1px solid black; */
}

/* home-page-styles */
.noteList {
  margin: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  border-left: 1px solid black;
  /* border-right: 1px solid black; */
}

.note-preview {
  position: relative;
  margin: 10px;
  /* border: 1px solid black; */
  border-radius: 7px;
  width: 27vw;
  height: 42vh;
  overflow: hidden;
  box-shadow: 0px 0px 3px #838383;
  /* background-color: coral; */
}

.note-preview a {
  text-decoration: none;
  color: black;
}

#delete-button {
  z-index: 1;
  position: absolute;
  height: 30px;
  width: 30px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  background-color: rgb(91, 91, 91);
  color: white;
  font-size: 20px;
  align-content: center;
}

#delete-button:hover {
  cursor: pointer;
}

.noteDetails {
  display: grid;
  grid-template-columns: auto;
  margin: 10px 0px;
}

.noteDetails div {
  margin: auto;
  height: 60vh;
  width: 60vw;
  border-radius: 5px;
  box-shadow: 0px 0px 5px
}

.noteDetails h2 {
  margin-top: 0px;
}

.Content {
  width: 85vw;
}
.overlay{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Create-styles */
.create {
  min-width: 45vw;
  min-height: 45vh;
  width:fit-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.create input,
.create textarea {
  width: 100%;
  height:200%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border:0;
  display: block;
}

/* menu */
.menu {
  margin-top: 0;
}

.menu li {
  font-size: 3em;
  margin-left: 20px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.clicked {
  transform-origin: 50% 50%;
  transform: rotateZ(45deg);
  transition: linear 0.1s;
}

/* animations */
@keyframes color-list {
  from {
    transform: translateY(-10vh);
  }

  to {
    transform: translateY(0);
  }
}

.visible {
  animation: color-list 0.2s linear;
}

/* modal */
.overlay{
  position: fixed;
  background-color: #555555b1;
  left:0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index:3;
}
@media screen and (max-width:700px) {
  .noteList{
    grid-template-columns: auto auto;
  }
  .note-preview{
    width: 35vw;
  }
  .sideBar{
    width: 10vw;
  }
}

@media screen and (max-width:500px) {
  .noteList{
    grid-template-columns: auto;
  }
  .note-preview{
    width: 70vw;
  }
  .sideBar{
    width: 15vw;
  }
  #my-notes{
    width: 13vw;
  }
  .noteDetails div{
    width: 80vw;
    height: fit-content
  }
}